<header>
  <h1>Media Query Playground</h1>
</header>

<mat-list role="list">
  <mat-list-item>
    <b>
      Is Mobile: <span class="mq-result">{{ isMobile() }}</span>
    </b>
    - Viewport width < {{ breakpoints['md'] }}px
  </mat-list-item>

  <mat-list-item>
    <b>
      Is Tablet: <span class="mq-result">{{ isTablet() }}</span>
    </b>
    - Viewport width between {{ breakpoints['md'] }}px and {{ breakpoints['lg'] }}px
  </mat-list-item>

  <mat-list-item>
    <b>
      Is Desktop: <span class="mq-result">{{ isDesktop() }}</span>
    </b>
    - Viewport width >= {{ breakpoints['lg'] }}px
  </mat-list-item>

  <mat-list-item>
    <b>
      Is Landscape: <span class="mq-result">{{ isLandscape() }}</span>
    </b>
    - Screen orientation: landscape
  </mat-list-item>

  <mat-list-item>
    <b>
      Color scheme (dark): <span class="mq-result">{{ isDarkMode() }}</span>
    </b>
    - Dark mode preferred
  </mat-list-item>

  <mat-list-item>
    <b>
      matchMediaSignal('(hover: hover)'): <span class="mq-result">{{ canHover() }}</span>
    </b>
    - Can hover
  </mat-list-item>
</mat-list>
